<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">K1 Solutions</h5>
          <p>Printing and Power Solutions Provider.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">About Us</h5>

            <ul class="list-unstyled list-white">
              <li>
                <a [routerLink] ="['/contact']"  routerLinkActive = "active"
                [routerLinkActiveOptions] = "{exact: true}">Contact</a>
              </li>
              <li>
                <a href="#!">Careers</a>
              </li>
              <li>
                <a [routerLink] ="['/product']"  routerLinkActive = "active"
                [routerLinkActiveOptions] = "{exact: true}">Product and Services</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Connect With us</h5>

            <ul class="list-unstyled list-white">
              <li>
                <a href="#!">Facebook</a>
              </li>
              <li>
                <a href="#!">Twitter</a>
              </li>
              <li>
                <a href="#!">Gmail</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href=""> K1 Solutions</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
