<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center list txt-shadow"><h1>About Us</h1></div>
            <div class="col-sm-2">
                <img src="assets/images/about_us.png" alt="about-us" width="200px" height="220px">
            </div>
            <div class="col-sm-10">
                <p>
                   
                    We are pleased to introduced K1 Solutions, as a complete solutions provider for Power and Printing solutions, 
                    as well as customization, automation, and integration with a mission to offer quality, cost effective and time
                    bound solutions to the customers and meeting their short and long term equipment.
                </p>
                <p>
                    K1 Solutions have authorized channel partner Ricoh India Ltd for Multifunction Printer and consumable /Toner
                    and manufacturer of white and Green Writing Boards etc. We provide the following Products for Corporate,
                    Educational Institutions, Manufacturing unit etc. 
                    
                </p>
                <p>Our Products available through GEM (Govt. E-market Place)</p>
                <div class=" col-sm-6 list-ab">
                    <ul>
                        <li> Photocopier (A3 MFP) Printer.</li>
                        <li>  MFP Consumables & Toner.</li>
                        <li> Online UPS and SMF Batteries.</li>
                        <li> Solar Power Solutions.</li>
                        <li> White Writing Board and Pinup Boards.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>