<!--Online UPS-->
<div class="ups">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center list"><h2>Online UPS 1 KVA to 250 KVA</h2></div>
        <div class="col-sm-6">
          <img src="assets/images/onlineups.png" class="img" width="700px" height="450px">
        </div>
        <div class="col-sm-2"></div>
        <div class=" col-sm-4 list">
            <ul >
              <li> Double Conversion IGBT based Online UPS.</li>
              <li> Advanced IGBT Based Rectifier Design.</li>
              <li> High Efficiency and Low Distortion.</li>
              <li> Digital PWM DSP/ Microprocessor based controls.</li>
              <li> Inbuilt Isolation Transformer.</li>
              </ul>
        </div>
      </div>
    </div>
</div>
<!--Solar Power Solutions-->
<div class="solar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center list"><h2>Solar Power Solutions</h2></div>
        <div class=" col-sm-4 list">
            <ul >
              <li> Solar Inverter (Off Grid/On Grid).</li>
              <li> Charger Controller (MPPT).</li>
              <li> Solar Panels.</li>
              <li> Solar Management Unit (SMU).</li>
              <li> Solar Inverter 1KVA to 120 KVA.</li>
              </ul>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <img src="assets/images/solar-power-lightbulb.png" class="img img-solar" width="500px" height="250px">
          </div>
      </div>
    </div>
</div>
<!--PhotoCopier portion-->
<div class="photocopy">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center list"><h2>Photocopier (Digital MFP)</h2></div>
        <div class="col-sm-6">
          <img src="assets/images/photocopy.jpg" class="img" width="400px" height="390px">
        </div>
        <div class="col-sm-2"></div>
        <div class=" col-sm-4 list">
            <ul >
              <li> Speed PPM: 20 PPM to 90 PPM.</li>
              <li> Function: Print ,Copy, Scan, Fax.</li>
              <li> Interface: Network, Wireless,Ethernet.</li>
              <li> Low total cost of ownership & Low Operating Cost.</li>
              <li> Available on rent and  Per page cost.</li>
              <li> Automatic Document Feeder (ARDF), Scan to mail , Automatic Duplex etc.</li>
              </ul>
        </div>
      </div>
    </div>
</div>
<!--White Writing Board portion-->
<div class="white-board">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center list"><h2>White Writing Board</h2></div>
        <div class=" col-sm-4 list">
           <ul >
              <li> White and Green writing boards.</li>
              <li> Magnetic white and green writing boards.</li>
              <li> Ceramic white and green writing boards.</li>
              <li> Pinup/ Display boards.</li>
            </ul>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <img src="assets/images/whiteboard.JPG" class="img img-solar" width="500px" height="250px">
          </div>
      </div>
    </div>
</div>

