<div class="container-fluid client">
  <div class="row">
    <div class="col-sm-12 text-center light-brown">
      <span>
        <h1>Our Major Clients</h1>
      </span>
    </div>
    <div class="content">
      <div class="container">
        <div class="box"><img src="assets/images/jplogo.png" width="120px" height="120px"></div>
        <div class="box"><img src="assets/images/gtcolubuslogo.png" width="120px" height="120px"></div>
        <div class="box"><img src="assets/images/shikshabhoomi.png" width="120px" height="120px"></div>
        <div class="box"><img src="assets/images/nibscom.jpg" width="120px" height="120px"></div>
        <div class="box"><img src="assets/images/DU.png" width="120px" height="120px"></div>
        <div class="box"><img src="assets/images/bsnl.png" width="120px" height="120px"></div>
        <div class="box"><img src="assets/images/mtnl.jpg" width="120px" height="120px"></div>
        <div class="box"><img src="assets/images/crpf.png" width="120px" height="120px"></div>
        <div class="box"><img src="assets/images/indianoil.jpg" width="120px" height="120px"></div>
        <div class="box"><img src="assets/images/finlandembassy.png" width="120px" height="120px"></div>
        <div class="box"><img src="assets/images/nbpgr.png" width="120px" height="120px"></div>
        <div class="box"><img src="assets/images/nios.jpg" width="120px" height="120px"></div>
        <div class="box"><img src="assets/images/nplab.jpeg" width="120px" height="120px"></div>
        <div class="box"><img src="assets/images/galgotia.png" width="120px" height="120px"></div>
      </div>
    </div>
  </div>
</div>