<div class="container-fluid padding-0 ">
  <div class="contact-us ">
    <div class="container">
      <div class="white-text text-center">
        <h1>CONTACT US</h1>
        <h2>
          <span class="txt-shadow">Let’s build the future of printing and power system</span>
        </h2>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container text-center">
      <h2>Contact Us</h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 padding-xtra">
           We are here to answer anyquestions you may have about our products. Reach out to us we will respond
           as soon as we can.
           <br>
           Even if there is something you have always wanted to experience and can't find it, let us know 
           and we promise we'll do our best to find it for you.
        </div>
        <div class="col-sm-8 "></div>
        <div class="col-sm-4 padding-up text-md txt-shadow">
            <div>K1 Solutions</div>
            <div>GF-16, Reliable City Mall,</div>
            <div>Sec-6, Vasundhara, Ghaziabad- 201012</div>
            <div>E-Mail: contact.k1solutions@gmail.com</div>
            <div>Mob: 9871296230, 8130693780</div>
        </div>
      </div>
    </div>
  </div>
</div>